/*
* main.css
*
*
* Created by FSC Automated
*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media (max-width: 768px) {
  /* Phones */
  .md-fab {
    position: absolute;
    z-index: 100;
    left: 79%;
    top: 87.5%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* Tablets */
  .md-fab {
    position: absolute;
    z-index: 100;
    left: 89%;
    top: 89%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* Small Desktops / Laptops */
  .md-fab {
    position: absolute;
    z-index: 100;
    left: 92%;
    top: 89%;
  }
}
@media (min-width: 1200px) {
  /* Desktops and bigger devices */
  .md-fab {
    position: absolute;
    z-index: 100;
    left: 94%;
    top: 89%;
  }
}