<md-dialog aria-label="Add user">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add a new user</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()" aria-label="close">
        <md-icon md-svg-src="/svg/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="width: 1000px;">
    <div class="inputs" ng-show="!isQr && !isDone">
      <md-input-container flex>
        <label>First Name</label>
        <input ng-model="firstName" type="text" />
      </md-input-container>
      <md-input-container flex>
        <label>Last Name</label>
        <input ng-model="lastName" type="text" />
      </md-input-container>
      <md-input-container flex>
        <label>Phone Number</label>
        <input ng-model="phoneNumber" type="text" />
      </md-input-container>
      <md-input-container flex>
        <label>Email Address</label>
        <input ng-model="email" type="email" />
      </md-input-container>
      <md-input-container flex>
        <md-checkbox ng-model="type">
          Admin
        </md-checkbox>
      </md-input-container>
    </div>
    <div class="qrCode" ng-show="isQr">
      <h3 flex>Scan this QR code to add you to the smart door control panel</h3>
      <img ng-src="{{ qrCode }}" width="200" height="200" flex>
    </div>
    <div class="isDone" ng-show="isDone">
      <h2>Done! You can now access the door at your office</h2>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()" class="md-primary">
      Close
    </md-button>
    <md-button ng-click="addUser()" class="md-primary">
      Add
    </md-button>
  </div>
</md-dialog>