<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ user.firstName }} {{ user.lastName }}'s Details</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()" aria-label="close">
        <md-icon md-svg-src="/svg/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="width: 1000px;">
    <md-list>
      <md-list-item class="md-2-line">
        <md-icon md-svg-src="/svg/phone.svg" aria-label="Phone number"></md-icon>
        <div class="md-list-item-text">
          <h3>{{ user.phone }}</h3>
          <p>Phone number</p>
        </div>
      </md-list-item>
      <md-list-item class="md-2-line">
        <md-icon md-svg-src="/svg/email.svg" aria-label="Email address"></md-icon>
        <div class="md-list-item-text">
          <h3>{{ user.email }}</h3>
          <p>Email address</p>
        </div>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()" class="md-primary">
      Done
    </md-button>
  </div>
</md-dialog>